@using Bogus.DataSets;

@model JeComplete.Models.PersonnelFileModel

@if (Model.Person != null)
{
    <h1>@ViewData["Title"]</h1>
    <p>
        Prénom : @Model.Person.FirstName<br>
        Nom : @Model.Person.LastName<br>
        Date de naissance : @Model.Person.Birthdate.ToLongDateString()<br>
        Genre : @(Model.Person.Gender == Name.Gender.Female ? "Femme" : "Homme")<br>
        Rôle : @Model.Person.Role<br>
    </p>
}
